
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


* {

    color: red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*user-select: none;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: Poppins;
}

body {
    /*background: url("../public/back.jpeg");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*backdrop-filter: blur(10px);*/

    background: var(--app-background-color);

}




footer {
    /*position: absolute;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,0.15);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
    color: white;
    padding: .5em 1em;
    display: flex;
    justify-content: center;
    align-items: end;
}

/* Variables */

:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;


    --app-background-color: black;
    --nav-background-color: #382A2A;


    --text-color: white;

    --icon-color: white;

}