.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    scroll-snap-align: start;


}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.containers {
    display: flex;
    flex-direction: column ;
    align-items: center;
    gap: 80px;

    width: 80%;
    padding: 80px;

}

.backgoundMask {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 7;
    background: #000000b8;

}

.container * {
    position: relative;
    z-index: 7;
}


.concertDateContainer {

}



.infosContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.concertDate {
    color: var(--text-color);
    font-size: xxx-large;
    font-weight: normal;
    text-transform: capitalize;
    text-align: center;
}


.label {
    color: var(--text-color);
}


.infosBody,
.infosSupBody {
    color: var(--text-color);
}

.infosBody {
    font-weight: bold;
}

.infosSubContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


@media screen and (max-width: 932px) {
    .containers {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;

    }
    .infosContainer {
        display: flex;
        flex-direction: column;
        gap: 40px;

    }

    .infosContainer {

    }


}