.button {
    border: none;
    outline: none;
    width: 152px;
    height: 57px;
    border-radius: 77px;
    background: var(--primary-button-color);
    color: var(--text-color);
    cursor: pointer;
}